<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="screen" href="index.css" />
        <title>Foglalas</title>
    </head>
    
    <body>

        <% if(vendeglok.length && felhasznalolista.length) { %>

            <form name="Foglalas" action="/form_foglalas" method="POST">
                <p>Make a reservation</p>

                <label>Restaurant</label>
                <select name="vendeg" id="vendeg">
                    <% vendeglok.forEach((vend) => { %>
                        <option value="<%= vend.VID %>"> <%= vend.VNev %> </option>
                    <% }) %>
                </select>
                <br>
                <label>User</label>
                <select name="felhasznalo_n" id="felhasznalo_n">
                    <% felhasznalolista.forEach((felh) => { %>
                        <option value= "<%= felh.FID %>"> <%= felh.Nev %> </option>
                    <% }) %>
                </select>
                <br>
                <label>When(hour)</label>
                <input type="number" id="form_kliens_idopont" name="form_kliens_idopont" placeholder="14" required><br><br>
                
                <input type="submit" id="form_submit3" value="SUBMIT"><br><br><br>
            </form>
            <% } else { %>
                <div>SOMETHINGS WRONG</div>
            <% } %>
        
        <footer><div id="f_footer"></div></footer>

    </body>