<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="index.css" />
    <title>SUCCES</title>
  </head>

  <body>
    <h1>SUCCES</h1>
    <div id="valasz_div" class="message"><%= message %></div>
    <div id="valasz_div">Maybe you would like to visit the
      <a href="/">main page</a>
    </div>

  </body>
</html>